<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Top</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    <div class="home-wrapper">
        <a href="/index">Home</a>
    </div>
</header>

<div class="container">
    <div class="container-header">
        <h1>テーブル一覧</h1>
        <a href="/table/create" class="new-button">新規作成</a>
    </div>
    
    <div class="table-head">
        <span class="id-column">id</span>
        <span class="name-column">名前</span>
        <span class="description-column">概要</span>
        <span class="link-column" >リンク</span>
    </div>

    <% tables.forEach((table) => { %>
        <div class="table-body">
            <span class="id-column"><%=table.id %></span>
            <span class="name-column"><%=table.name %></span>
            <span class="description-column"><%=table.description %></span>
            <a href="/table/<%=table.id %>" class="link-column">link</a>
        </div>
    <% }) %>
</div>

</body>
</html>