<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Create Table</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/table-creator.css">
</head>
<body>
<header>
    <div class="home-wrapper">
        <a href="/index">Home</a>
    </div>
</header>

<div class="container">
    <div class="table-form-wrapper">
        <form action="/table/create" method="post">
            <p class="form-label">名前</p>
            <input type="text" name="name">
            <p class="form-label">概要</p>
            <input type="text" name="description">
            <input type="submit" value="作成">
        </form>
    </div>
</div>

</body>
</html>